EXPO_PUBLIC_SUPABASE_URL=YOUR_PUBLIC_SUPABSE_URL
EXPO_PUBLIC_SUPABASE_ANON_KEY=YOUR_PUBLIC_SUPABASE_ANON_KEY
GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY
GOOGLE_WEB_CLIENT_ID=YOUR_GOOGLE_WEB_CLIENT_ID
BERT_API_URL=YOUR_BERT_API_URL
SBERT_API_URL=YOUR_SBERT_API_URL
MY_SYNC_KEY=YOUR_SYNC_KEY
ADMIN_EMAIL=ADMIN_EMAILS
ONESIGNAL_APP_ID=YOUR_ONESIGNAL_APP_ID
